%section

  = content_for :articles_menu do
    %li.active
      = link_to @article.title, edit_admin_article_path(@article)

  %article.one-layer-up
    %header
      .edit-link
        = link_to fa_icon('pencil lg'), edit_admin_article_path(@article), class: 'pull-right', data: { no_turbolink: true }
      %h1= @article.title

      .tags
        - @article.tags.each do |tag|
          = link_to "##{tag}", root_path(tags: [tag])
    .body
      - @article.snippets.each do |snippet|
        = render partial: snippet.to_partial_path, object: snippet, as: 'snippet'
    %footer
      .row
        .pubdate.col-xs-6.text-muted
          = @article.published_at.try(:strftime, "%Y.%m.%d, %H:%m")
        .more.col-xs-6
          = link_to 'Назад', admin_articles_path