%section#widgets.col-md-3.col-md-push-9
  = render 'widgets/tags', tags: @tags, query: @query

%section#articles.col-md-9.col-md-pull-3
  %ul
    - @articles.each do |a|
      %li
        %article
          %header
            %h1= link_to a.title, article_path(a.slug)
          .body
            = preserve do
              = raw a.html_preview
          %footer
            .row
              .tags.col-md-8
                - a.tags.each do |tag|
                  = link_to "##{tag}", root_path(tags: [tag])
              .more.col-md-4
                = link_to 'Читать далее...', article_path(a.slug)

  .pages
    = paginate @articles