#articles
  %ul
    - @articles.each do |article|
      %li
        %article.one-layer-up
          %header
            %h1= link_to article.title, article_path(article)
            .tags
              - article.tags.each do |tag|
                = link_to "##{tag}", root_path(tags: [tag])
          .body
            = preserve do
              = raw article.preview_html
          %footer
            .row
              .pubdate.col-xs-6.text-muted
                = article.published_at.strftime("%Y.%m.%d, %H:%M")
              .more.col-xs-6
                = link_to 'Читать далее...', article_path(article.slug)
                |
                = link_to fa_icon('spinner pulse'), article_path(article.slug) + '#disqus_thread', class: 'comments-link fa fa-comments'

  .pages
    = paginate @articles

= disqus_comment_counter