#my-articles
  - if @articles.empty?
    #no-articles.one-layer-up
      .row
        .col-xs-12
          %p.text-muted
            Записей нет
  - else

    %ul
      - @articles.each do |article|
        %li
          .article-item.one-layer-up

            %header.row.text-muted
              .col-xs-6
                %span= l(article.created_at, format: '%d.%m.%Y %H:%M')
              .col-xs-6.info
                = l(article.published_at, format: '%d.%m.%Y %H:%M') if article.published?
                = fa_icon *(article.published? ? ['eye lg', class: 'green'] : ['eye-slash', class: 'red'])              
                |
                %span.fa.fa-comments.fa-lg.disqus-comment-count{ data: {"disqus-identifier" => "article_#{article.id}"} }
                  = fa_icon('spinner pulse')

            .body.row
              .col-xs-9
                %h4= link_to article.title, current_user_article_path(article)
              .controls.col-xs-3
                = link_to fa_icon('file-text lg'), current_user_article_path(article)
                = link_to fa_icon('pencil lg'), edit_current_user_article_path(article)
                = link_to fa_icon('times-circle lg'), current_user_article_path(article), method: :delete, data: {confirm: 'Вы уверены?'}

    .pages
      = paginate @articles

= disqus_comment_counter