%aside#articles-menu.one-layer-up
  %nav
    %ul

      %li{active_if_path(admin_articles_path)}
        = link_to 'Все посты', admin_articles_path

      %li{active_if_path(admin_articles_path(scope: 'published'))}
        = link_to 'Опубликованные', admin_articles_path(scope: 'published')

      %li{active_if_path(admin_articles_path(scope: 'not_published'))}
        = link_to 'Не опубликованные', admin_articles_path(scope: 'not_published')

      %li{active_if_path(new_admin_article_path)}
        = link_to 'Новый', new_admin_article_path, data: { no_turbolink: true }

      = yield :articles_menu